body{
    margin: 0;
    box-sizing: border-box;
}
p, h1, h2{
    margin: 0;
}
.home-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 80px;
}
.header{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 10px ;
    align-items:center ;
    background-color: black;
    color: white;
}
.header h1{
    font-size: 60px;
}
.links{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.links button{
    padding: 10px 20px;
    width: 150px;
    background-color: transparent;
    border-style: none;
    color: white;
    font-size: 20px;
}
button:hover{
    background-color: gray;
}
.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.about-us{
    width: 900px;
    display: flex;
    gap: 20px;
    height: 400px;
}
.image-container{
    width: 50%;
}
.image-container img{
    width: 100%;
    height: 100%;
}
.text-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-content h1{
    font-size: 40px;

}
.text-content p{
    font-size: 28px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0;
    font-size: 20px;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 40px 0;
}
.menu h2{
    font-size: 40px;
}
.menu p {
    font-size: 25px;
}
.img-container{
    width: 640px;
}
.menu img{
    width: 100%;
}
.menu-info{
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reservation-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.reservation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

}

.contact-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-container p{
    margin-top: 10px;
    font-size: 20px;
}

.contact-container h1, .contact-container h2{
    font-size: 35px;
}

input{
    display: block;
    height: 30px;
}
.reservation{
    display: flex;
    gap: 125px;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.form-container button{
    color: white;
    background-color: black;
    border-style: none;
    align-self: flex-start;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
}
.form-container button:hover{
    opacity: 80%;
}
button{
    cursor: pointer;
}
